body {
  font-family: Roboto;
}

#benefits-section {
  padding: 0px 400px;
  position: relative;
  bottom: 150px;
}

#footer-section {
  padding: 50px 250px 50px;
}

#Nav-bar {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding: 25px 50px 25px;
}

#hero-section {
  padding: 25px 250px;
  margin-top: 40px;
}

#destinationInput {
  display: block;
  position: relative;
  left: 50px;
  bottom: 680px;
  width: 596.5px;
  height: 100px;
  border-width: 2px;
  border-color: #80808052;
  font-size: 40px;
}

.links {
  display: inline-block;
}

.logoContainer {
  display: inline-block;
  position: relative;
  right: 300px;
}

.logoContainer:hover {
  color: white;
}

.registerButtonContainer {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  left: 290px;
}

.nav-links {
  margin: 25px;
  font-weight: normal;
  text-decoration: none;
}

.nav-links:hover {
  color: #4949d6;
}

.registerButton {
  background-color: #4949d6;
  cursor: pointer;
  color: #ffffff;
  padding: 32px 76px;
  text-decoration: none;
}

.registerButton:hover {
  background-color: #7474f3;
}

.searchButton {
  background-color: #4949d6;
  cursor: pointer;
  color: #ffffff;
  padding: 22px 50px;
  border: 5px solid white;
  text-decoration: none;
  font-size: 40px;
  position: relative;
  left: 653px;
  bottom: 890.6px;
}

.searchButton:hover {
  background-color: #7474f3;
}

.space {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.out {
  font-size: 40px;
  font-weight: bold;
  color: #4949d6;
  text-decoration: none;
}

.out:hover {
  color: #7474f3;
}

.space:hover {
  cursor: pointer;
  color: #4949d6;
}

.spaceshipIcon {
  width: 65px;
  position: relative;
  left: 10px;
  top: 10px;
}

.spaceshipIcon:hover {
  cursor: pointer;
}

.image1-container {
  height: 1000px;
  width: 450px;
  display: inline-block;
  overflow: hidden;
}

.image2-container {
  height: 1000px;
  width: 350px;
  display: inline-block;
  margin-left: 50px;
  overflow: hidden;
}

.hero-title {
  font-size: 70px;
  width: 450px;
  display: inline-block;
  position: relative;
  bottom: 750px;
  left: 50px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.hero-images {
  display: inline-block;
  position: relative;
  left: 200px;
}

.hero-image-description {
  display: inline-block;
  position: relative;
  bottom: 600px;
  font-size: 25px;
  right: 210px;
  width: 550px;
}

.hero-image-description-paragraph {
  line-height: 1.5;
  font-weight: 300;
}

.arrowLeft {
  background-color: #4949d6;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 25px 21px;
  text-decoration: none;
}

.arrowLeft:hover {
  background-color: #7474f3;
}

.arrowRight {
  background-color: #dcdcdd;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 25px 21px;
  text-decoration: none;
  margin-left: 20px;
}

.arrowRight:hover {
  background-color: #49494952;
}

.fa-arrow-right {
  color: black;
}

.arrows {
  display: inline-block;
  position: relative;
  right: 760px;
  bottom: 400px;
}

.benefitsImage {
  width: 450px;
}

.benefitsList {
  position: relative;
  right: 100px;
}

.benefitsImageContainer {
  display: inline-block;
}

.benefitsTitle {
  font-size: 50px;
  width: 600px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -70px;
}

.benefits {
  float: left;
  width: 600px;
}

.benefitsNumber {
  display: inline-block;
  font-size: 40px;
}

.benefitsSubtitle {
  display: inline-block;
  padding-left: 20px;
}

.benefitsDescription {
  padding-left: 95px;
  position: relative;
  bottom: 50px;
  line-height: 1.5;
}

.exploreTitle {
  position: absolute;
  left: 310px;
  width: 400px;
  line-height: 1.5;
  font-size: 50px;
  font-weight: bold;
  margin: 100px 0px;
}

.exploreImg {
  width: 400px;
  height: 500px;
  display: inline-block;
  margin: 40px;
  overflow: hidden;
}

.exploreImgCollection {
  display: inline-block;
  position: relative;
  left: 250px;
  top: 125px;
}

.brooklynBridgeImg {
  position: relative;
  right: 50px;
  bottom: 50px;
}

.libertyImg {
  position: relative;
  right: 50px;
  bottom: 20px;
}

.socialInfoDescription {
  margin: 40px 0px 40px 25px;
  width: 500px;
  font-size: 25px;
  line-height: 1.5;
}

.socialLogosCollection {
  margin-left: 25px;
}

.socialLinks {
  color: black;
  margin: 20px;
}

.socialLinks:hover {
  color: #80808052;
}

.socialInfo {
  display: inline-block;
}

.footerColumn1 {
  display: inline-block;
  position: relative;
  padding: 70px 60px 70px;
}

.footerColumn2 {
  display: inline-block;
  position: relative;
  padding: 70px 60px 70px;
  bottom: 58px;
}

.footerColumn3 {
  display: inline-block;
  position: relative;
  padding: 70px 60px 70px;
  bottom: 183px;
}

.footerColumnCollection {
  display: inline-block;
  position: relative;
  top: 120px;
}

h3 {
  font-weight: 400;
  margin-top: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4949d6;
}
